<mojawork-ui-layout>
  <strong header class="ui-ct-light">mojawork</strong>
  <section main>
    <span class="ui-ct-primary">ui-ct-primary</span>
    <span class="ui-icon">home</span>
    <hr />

    <mojawork-ui-input
      [label]="'Input Text'"
      [type]="'text'"
      placeholder="placeholder"
    ></mojawork-ui-input>
    <hr />

    <figure style="width: 28rem">
      <figcaption>in progress</figcaption>
      <img src="assets/ui/images/unknown.gif" />
    </figure>
  </section>
</mojawork-ui-layout>
